<% @users_all.each do |user| %>
  <%= link_to user_path(user), class: "link" do %>
    <div class="single-user">
      <div class="single-user-image">
        <img src="<%= user.photo %>">
      </div>
      <div class="single-user-info">
        <h2><%= user.name %></h2>
        <span>Posts: <%= user.posts_counter %></span>
      </div>
    </div>
  <% end %>
<% end %>