/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
  /* colors */
  --color-background-1: #778bc2;
  --color-background-2: #d0dcff;
  --color-background-3: #a0aed5;
  --color-background-4: #ad9861;
  --color-background-5: #cbcdd4;

  /* hover colors */
  --color-hover-1: #475888;
  --color-hover-2: #a7b5dc;
  --color-hover-3: #8897c1;
  --color-hover-4: #8e8162;
  --color-hover-5: #bdbab5;

  /* border weight */
  --border-weight-1: 2px;

  /* border color */
  --color-border-1: #0d1938;

  /* border radius */
  --border-radius-1: 5px;

  /* shadow */
  --box-shadow: 10px 10px 10px #00000070;

  /* right animation */
  --animation-1: rightanimation 2s;
}
