/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
  /* colors */
  --color-background-1: #3d5599;
  --color-background-2: #bdceff;
  --color-background-3: #93a9e6;
  --color-background-4: #9e7d29;
  --color-background-5: #ded6c6;

  /* hover colors */
  --color-hover-1: #263a71;
  --color-hover-2: #8597ca;
  --color-hover-3: #5d72ab;
  --color-hover-4: #6d5415;
  --color-hover-5: #a39883;

  /* border color */
  --color-border-1: #0d1938;

  /* shadow */
  --box-shadow: 10px 10px 10px #00000070;
}
