@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
  text-decoration: none;
}

.link {
  color: rgb(1, 22, 45, 0.7);
}

.header-container {
  background-image: linear-gradient(to right, #001522, var(--color-background-1));
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--box-shadow);
  border-bottom: var(--border-weight-1) solid black;
  border-color: #acb8c5 #253e57c9 #253e57c9 #acb8c5;
  font-weight: 900;
  padding-left: 10%;
}

.header-container span {
  color: white;
  transition: 0.5s;
  cursor: pointer;
}

.header-container span:hover {
  transform: scale(1.02);
}

.header-container ul {
  display: flex;
  list-style-type: none;
  background-color: #253e5740;
}

.header-container ul a {
  text-decoration: none;
  color: white;
  height: 100%;
  width: 100%;
}

.header-container ul li {
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 15px;
  cursor: pointer;
  border-color: #8a98a8 #253e57c9 #253e57c9 #6d7c8d;
  color: white;
  border-radius: 5px;
}

.header-container ul li:hover {
  background-color: #253e5750;
}

.logout {
  border: none;
  background-color: transparent;
  font-weight: 900;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 1.05em;
  color: white;
}
