@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
  text-decoration: none;
}

.link {
  color: black;
}

.header-container {
  background-image: linear-gradient(to right, #000322, var(--color-background-1));
  display: flex;
  justify-content: space-between;
  padding: 25px 50px;
  box-shadow: var(--box-shadow);
  border-bottom: var(--border-weight-1) solid black;
  font-weight: 900;
}

.header-container span {
  color: white;
  transition: 0.5s;
  cursor: pointer;
}

.header-container span:hover {
  transform: scale(1.02);
}

.header-container ul {
  display: flex;
  list-style-type: none;
  gap: 25px;
}

.header-container ul a {
  text-decoration: none;
  color: white;
}
