.single-post-container {
  background-image: url(texture.png), linear-gradient(to right, var(--color-background-5), rgb(136, 131, 93));
  min-height: calc(100vh - 76px);
  padding: 25px 150px;
  display: flex;
  flex-direction: column;
}

.single-user-single-post {
  position: relative;
}

.single-user-single-post div {
  display: flex;
  gap: 5px;
  align-items: center;
}

.create-comment-form {
  display: flex;
  gap: 10px;
  border: 2px solid var(--color-border-1);
  background-color: var(--color-background-1);
  width: fit-content;
  padding: 5px;
  border-radius: 15px;
  margin-top: 25px;
}

.create-comment-text {
  border: 2px solid var(--color-border-1);
  border-radius: 15px;
  display: flex;
  padding: 15px;
  font-weight: 900;
  box-shadow: var(--box-shadow);
}

.create-comment-button {
  border: 2px solid var(--color-border-1);
  border-radius: 15px;
  padding: 15px;
  font-weight: 900;
  background-color: var(--color-background-2);
  box-shadow: var(--box-shadow);
  transition: 0.5s;
}

.create-comment-button:hover {
  background-color: var(--color-hover-2);
  transform: scale(1.02);
}

.likes-form {
  position: absolute;
  right: 15px;
  bottom: 15px;
  border: 2px solid var(--color-border-1);
  border-radius: 15px;
  padding: 15px;
  font-weight: 900;
  background-color: var(--color-background-2);
  box-shadow: var(--box-shadow);
  transition: 0.5s;
}

.likes-form:hover {
  background-color: #ff000075;
  transform: scale(1.02);
}
