.single-post-container {
  background-image: url(texture.png), url('welcome');
  background-size: 10%, cover;
  background-attachment: fixed;
  min-height: calc(100vh - 55px);
  padding: 25px 10%;
  display: flex;
  flex-direction: column;
}

.single-user-single-post {
  position: relative;
}

.single-user-single-post div {
  display: flex;
  gap: 5px;
  align-items: center;
}

.create-comment-form {
  display: flex;
  gap: 10px;
  border: var(--border-weight-1) solid var(--color-border-1);
  border-color: #acb8c5 #253e57c9 #253e57c9 #acb8c5;
  background-color: var(--color-background-1);
  width: fit-content;
  padding: 5px;
  border-radius: var(--border-radius-1);
  margin-top: 25px;
}

.create-comment-text {
  border: var(--border-weight-1) solid var(--color-border-1);
  border-color: #acb8c5 #253e57c9 #253e57c9 #acb8c5;
  border-radius: var(--border-radius-1);
  display: flex;
  padding: 15px;
  font-weight: 900;
  box-shadow: var(--box-shadow);
}

.create-comment-button {
  border: var(--border-weight-1) solid var(--color-border-1);
  border-color: #acb8c5 #253e57c9 #253e57c9 #acb8c5;
  border-radius: var(--border-radius-1);
  padding: 15px;
  font-weight: 900;
  background-color: var(--color-background-2);
  box-shadow: var(--box-shadow);
  transition: 0.5s;
}

.create-comment-button:hover {
  background-color: var(--color-hover-2);
  transform: scale(1.02);
}

.likes-form {
  position: absolute;
  right: 15px;
  bottom: 15px;
  border: var(--border-weight-1) solid var(--color-border-1);
  border-color: #acb8c5 #253e57c9 #253e57c9 #acb8c5;
  border-radius: var(--border-radius-1);
  padding: 15px;
  font-weight: 900;
  background-color: var(--color-background-2);
  box-shadow: var(--box-shadow);
  transition: 0.5s;
}

.likes-form:hover {
  background-color: #ff000075;
  transform: scale(1.02);
}
