.create-new-post-container {
  background-image: url(texture.png), linear-gradient(to right, var(--color-background-5), rgb(136, 131, 93));
  width: 100%;
  min-height: calc(100vh - 76px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.create-new-post-container h1 {
  font-size: 3em;
}

.create-post-form {
  display: flex;
  flex-direction: column;
  background-color: var(--color-background-1);
  border: var(--border-weight-1) solid var(--color-border-1);
  padding: 10px;
  border-radius: var(--border-radius-1);
  box-shadow: var(--box-shadow);
}

.create-post-title {
  border: var(--border-weight-1) solid var(--color-border-1);
  border-radius: var(--border-radius-1);
  padding: 10px;
  font-weight: 900;
  width: 400px;
}

.create-post-text {
  border: var(--border-weight-1) solid var(--color-border-1);
  border-radius: var(--border-radius-1);
  padding: 10px;
  font-weight: 900;
  width: 400px;
}

.create-post-button {
  border: var(--border-weight-1) solid var(--color-border-1);
  border-radius: var(--border-radius-1);
  padding: 10px;
  font-weight: 900;
  width: 400px;
  background-color: var(--color-background-3);
}

.create-post-button:hover {
  background-color: var(--color-hover-3);
}
