.users-container {
  background-image: url(texture.png), linear-gradient(to right, var(--color-background-5), rgb(136, 131, 93));
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 15px 5%;
  gap: 35px;
  overflow: hidden;
}

.single-user {
  display: flex;
}

.single-user-image {
  display: flex;
  align-items: center;
  border-top: var(--border-weight-1) solid var(--color-border-1);
  border-left: var(--border-weight-1) solid var(--color-border-1);
  border-bottom: var(--border-weight-1) solid var(--color-border-1);
  border-radius: var(--border-radius-1);
  box-shadow: var(--box-shadow);
  background-image: linear-gradient(to right, var(--color-background-1), rgb(33, 27, 118));
}

.single-user-image img {
  width: 150px;
  aspect-ratio: 1/1;
}

.single-user:hover > * {
  background-image: linear-gradient(to right, var(--color-background-1), rgb(33, 27, 118));
}

.single-user-info {
  border-top: var(--border-weight-1) solid var(--color-border-1);
  border-right: var(--border-weight-1) solid var(--color-border-1);
  border-bottom: var(--border-weight-1) solid var(--color-border-1);
  border-radius: var(--border-radius-1);
  background-image: linear-gradient(to right, var(--color-background-3), var(--color-background-1));
  box-shadow: var(--box-shadow);
  gap: 50px;
  padding: 0 5%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.single-user-info h2 {
  font-size: 2em;
  text-decoration: none;
}

.single-user-info span {
  font-size: 1.5em;
  min-width: 150px;
}
