.single-user-container {
  background-image: url(texture.png), linear-gradient(to right, var(--color-background-5), rgb(136, 131, 93));
  min-height: calc(100vh - 76px);
  padding: 25px 150px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.single-user-bio {
  border: var(--border-weight-1) solid var(--color-border-1);
  border-radius: var(--border-radius-1);
  padding: 25px;
  background-color: var(--color-background-3);
  box-shadow: var(--box-shadow);
}

.single-user-bio:hover {
  background-color: var(--color-hover-3);
}

.single-user-single-post {
  border: var(--border-weight-1) solid var(--color-border-1);
  border-radius: var(--border-radius-1);
  padding: 25px;
  background-color: var(--color-background-1);
  box-shadow: var(--box-shadow);
}

.single-user-single-post:hover {
  background-color: var(--color-hover-1);
}

.single-user-single-post span {
  background-color: var(--color-background-3);
  border-radius: var(--border-radius-1);
  padding: 5px;
  font-weight: 900;
  box-shadow: var(--box-shadow);
  border: var(--border-weight-1) solid black;
  font-size: 0.7em;
}

.buttons {
  display: flex;
  gap: 25px;
}

.see-all-posts-button {
  border: var(--border-weight-1) solid var(--color-border-1);
  border-radius: var(--border-radius-1);
  padding: 15px;
  font-weight: 900;
  font-size: 1em;
  cursor: pointer;
  box-shadow: var(--box-shadow);
  background-image: linear-gradient(to right, #000322, var(--color-background-1));
  transition: 0.5s;
  color: white;
}

.see-all-posts-button:hover {
  background-image: linear-gradient(to left, #000322, var(--color-hover-1));
  transform: scale(1.02);
}
