.single-user-container {
  background-color: var(--color-background-5);
  background-image: url(texture.png);
  min-height: calc(100vh - 76px);
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.single-user-bio {
  border: 5px solid black;
  border-radius: 15px;
  padding: 25px;
  background-color: var(--color-background-3);
  box-shadow: var(--box-shadow);
}

.single-user-bio:hover {
  background-color: grey;
}

.single-user-single-post {
  border: 5px solid black;
  border-radius: 15px;
  padding: 25px;
  background-color: var(--color-background-1);
  box-shadow: var(--box-shadow);
}

.single-user-single-post:hover {
  background-color: grey;
}

.single-user-single-post span {
  background-color: white;
  border-radius: 15px;
  padding: 5px;
  font-weight: 900;
  box-shadow: var(--box-shadow);
  border: 1px solid black;
}

.buttons {
  display: flex;
  gap: 25px;
}

.see-all-posts-button {
  border: 5px solid black;
  border-radius: 15px;
  padding: 25px;
  font-weight: 900;
  font-size: 1.5em;
  cursor: pointer;
  box-shadow: var(--box-shadow);
  background-image: linear-gradient(to right, var(--color-background-2), var(--color-background-3));
  transition: 0.5s;
}

.see-all-posts-button:hover {
  background-color: grey;
  transform: scale(1.02);
}
