.single-user-container {
  background-image: url(texture.png), url('welcome');
  background-size: 10%, cover;
  background-attachment: fixed;
  min-height: calc(100vh - 55px);
  padding: 25px 10%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.single-user-bio {
  border: var(--border-weight-1) solid var(--color-border-1);
  border-color: #acb8c5 #253e57c9 #253e57c9 #acb8c5;
  border-radius: var(--border-radius-1);
  padding: 25px;
  background-color: var(--color-background-3);
  box-shadow: var(--box-shadow);
  color: #253e57c9;
}

.single-user-text {
  overflow: hidden;
}

.single-user-bio:hover {
  background-color: var(--color-hover-3);
}

.single-user-single-post {
  border: var(--border-weight-1) solid var(--color-border-1);
  border-color: #acb8c5 #253e57c9 #253e57c9 #acb8c5;
  border-radius: var(--border-radius-1);
  padding: 25px;
  background-color: rgb(255, 255, 255, 0.6);
  backdrop-filter: blur(5px);
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.single-user-single-post:hover {
  background-color: var(--color-hover-1);
}

.single-user-single-post span {
  background-color: var(--color-background-3);
  border-radius: var(--border-radius-1);
  padding: 5px;
  font-weight: 900;
  box-shadow: var(--box-shadow);
  border: var(--border-weight-1) solid black;
  border-color: #acb8c5 #253e57c9 #253e57c9 #acb8c5;
  font-size: 0.7em;
}

.buttons {
  display: flex;
  gap: 10px;
}

.see-all-posts-button {
  border: var(--border-weight-1) solid var(--color-border-1);
  border-color: #acb8c5 #253e57c9 #253e57c9 #acb8c5;
  border-radius: var(--border-radius-1);
  padding: 15px;
  font-weight: 900;
  font-size: 1em;
  cursor: pointer;
  box-shadow: var(--box-shadow);
  background-image: linear-gradient(to right, var(--color-background-2), var(--color-background-1));
  transition: 0.5s;
  color: #253e57c9;
  width: 200px;
}

.see-all-posts-button:hover {
  background-image: linear-gradient(to right, var(--color-background-1), var(--color-background-3));
  transform: scale(1.02);
  color: #10273ec9;
}
