.users-container {
  background-image: url(texture.png), linear-gradient(to right, var(--color-background-5), rgb(136, 131, 93));
  min-height: 100vh;
  padding: 25px 150px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.single-user {
  display: flex;
  animation: rightAnimation 2s;
}

.single-user-image {
  border-top: var(--border-weight-1) solid var(--color-border-1);
  border-left: var(--border-weight-1) solid var(--color-border-1);
  border-bottom: var(--border-weight-1) solid var(--color-border-1);
  border-radius: var(--border-radius-1);
  overflow: hidden;
  min-height: 200px;
  min-width: 200px;
  box-shadow: var(--box-shadow);
}

.single-user-image img {
  height: 100%;
  aspect-ratio: 1/1;
}

.single-user:hover > * {
  background-image: linear-gradient(to right, var(--color-background-1), rgb(33, 27, 118));
}

.single-user-info {
  border-top: var(--border-weight-1) solid var(--color-border-1);
  border-right: var(--border-weight-1) solid var(--color-border-1);
  border-bottom: var(--border-weight-1) solid var(--color-border-1);
  border-radius: var(--border-radius-1);
  background-image: linear-gradient(to right, var(--color-background-3), var(--color-background-1));
  box-shadow: var(--box-shadow);
  width: 100%;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.single-user-info h2 {
  font-size: 3em;
  text-decoration: none;
}

.single-user-info span {
  font-size: 2em;
}
