.users-container {
  background-image: url(texture.png), url('welcome');
  background-size: 10%, cover;
  background-attachment: fixed;
  background-color: rgb(255, 255, 255, 0.6);
  background-blend-mode: color;
  min-height: calc(100vh - 55px);
  display: flex;
  flex-direction: column;
  padding: 25px 10%;
  gap: 10px;
  overflow: hidden;
}

.single-user {
  display: flex;
}

.single-user-image {
  display: flex;
  align-items: center;
  border-top: var(--border-weight-1) solid #acb8c5;
  border-left: var(--border-weight-1) solid #acb8c5;
  border-bottom: var(--border-weight-1) solid var(--color-border-1);
  border-color: #acb8c5 #253e57c9 #253e57c9 #acb8c5;
  border-radius: var(--border-radius-1);
  box-shadow: var(--box-shadow);
  background-image: linear-gradient(to right, var(--color-background-1), rgb(33, 27, 118));
}

.single-user-image img {
  width: 150px;
  aspect-ratio: 1/1;
}

.single-user:hover > * {
  background-image: linear-gradient(to right, var(--color-background-1), rgb(33, 27, 118));
}

.single-user-info {
  border-top: var(--border-weight-1) solid #acb8c5;
  border-right: var(--border-weight-1) solid #253e57c9;
  border-bottom: var(--border-weight-1) solid var(--color-border-1);
  border-radius: var(--border-radius-1);
  background-color: rgb(255, 255, 255, 0.6);
  box-shadow: var(--box-shadow);
  gap: 50px;
  padding: 0 5%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #253e57c9;
}

.single-user-info h2 {
  font-size: 2em;
  text-decoration: none;
  font-style: italic;
}

.single-user-info span {
  font-size: 1.5em;
  min-width: 150px;
}
